### Assignment - Intro to Python and Data Structures
The assignment is for students to get a feel of the lesson discussed this week. You are free to ask any doubts regarding working out any questions in the group. Also, updating the worked out notebook on Github is very much engaged, be sure to mention School of AI, Trivandrum. Additional recognition for students who document the work using *markdown*.

##### 1) Read the contents of test.csv

In [0]:
!ls   #Checking for file availabiltity

sample_data  test.csv

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving test.csv to test.csv
User uploaded file "test.csv" with length 784 bytes

**Loading the file for processing **

In [3]:
file_open =open('test.csv', 'r')  
data  = file_open.read()                 #READING THE CONTENTS PRESENT IN THE .csv FILE
file_open.close()                        # CLOSING THE FILE AFTER USAGE
data                                     # PRINTING CHARACTERS READ

'Loan_ID,Gender,Married,Education,ApplicantIncome,LoanAmount,Property_Area\nLP001015,Male,Yes,Graduate,5720,110,Urban\nLP001022,Male,Yes,Graduate,3076,126,Urban\nLP001031,Male,Yes,Graduate,5000,208,Urban\nLP001035,Male,Yes,Graduate,2340,100,Urban\nLP001051,Male,No,Not Graduate,3276,78,Urban\nLP001054,Male,Yes,Not Graduate,2165,152,Urban\nLP001055,Female,No,Not Graduate,2226,59,Semiurban\nLP001056,Male,Yes,Not Graduate,3881,147,Rural\nLP001059,Male,Yes,Graduate,13633,280,Urban\nLP001067,Male,No,Not Graduate,2400,123,Semiurban\nLP001078,Male,No,Not Graduate,3091,90,Urban\nLP001082,Male,Yes,Graduate,2185,162,Semiurban\nLP001083,Male,No,Graduate,4166,40,Urban\nLP001094,Male,Yes,Graduate,12173,166,Semiurban\nLP001096,Female,No,Graduate,4666,124,Semiurban\nLP001099,Male,No,Graduate,5667,131,Urban'

#Preprocessing Data 

Data  loaded is preprocessed by splitting at places where newline character (\n) occurs  and further refinement is done by splitting each individual entries on the comma (,) sign .

In [4]:
first_array = data.split('\n')
first_array

cleaned_matrix = []

for i in first_array:
  cleaned_matrix.append(i.split(','))

cleaned_matrix

[['Loan_ID',
  'Gender',
  'Married',
  'Education',
  'ApplicantIncome',
  'LoanAmount',
  'Property_Area'],
 ['LP001015', 'Male', 'Yes', 'Graduate', '5720', '110', 'Urban'],
 ['LP001022', 'Male', 'Yes', 'Graduate', '3076', '126', 'Urban'],
 ['LP001031', 'Male', 'Yes', 'Graduate', '5000', '208', 'Urban'],
 ['LP001035', 'Male', 'Yes', 'Graduate', '2340', '100', 'Urban'],
 ['LP001051', 'Male', 'No', 'Not Graduate', '3276', '78', 'Urban'],
 ['LP001054', 'Male', 'Yes', 'Not Graduate', '2165', '152', 'Urban'],
 ['LP001055', 'Female', 'No', 'Not Graduate', '2226', '59', 'Semiurban'],
 ['LP001056', 'Male', 'Yes', 'Not Graduate', '3881', '147', 'Rural'],
 ['LP001059', 'Male', 'Yes', 'Graduate', '13633', '280', 'Urban'],
 ['LP001067', 'Male', 'No', 'Not Graduate', '2400', '123', 'Semiurban'],
 ['LP001078', 'Male', 'No', 'Not Graduate', '3091', '90', 'Urban'],
 ['LP001082', 'Male', 'Yes', 'Graduate', '2185', '162', 'Semiurban'],
 ['LP001083', 'Male', 'No', 'Graduate', '4166', '40', 'Urban'],
 ['LP001094', 'Male', 'Yes', 'Graduate', '12173', '166', 'Semiurban'],
 ['LP001096', 'Female', 'No', 'Graduate', '4666', '124', 'Semiurban'],
 ['LP001099', 'Male', 'No', 'Graduate', '5667', '131', 'Urban']]

Now we need to create a dataframe like structure (dictionary ) .For that we create an empty dictionary  using the **fromkeys()**  functionwith keys given by the first list in matrix and we initialise them to empty lists .

In [5]:
first_row = cleaned_matrix[0]
df = dict.fromkeys(first_row)

for i in first_row:
  df[i] =[]

df

{'ApplicantIncome': [],
 'Education': [],
 'Gender': [],
 'LoanAmount': [],
 'Loan_ID': [],
 'Married': [],
 'Property_Area': []}

Then by using a loop we append the corresponding column values to the corresponding dictionary entry

In [0]:
for i in range(1,len(cleaned_matrix)):
  for j in range(len(first_row)):
    df[first_row[j]].append(cleaned_matrix[i][j])

print dictionary

In [7]:
df

{'ApplicantIncome': ['5720',
  '3076',
  '5000',
  '2340',
  '3276',
  '2165',
  '2226',
  '3881',
  '13633',
  '2400',
  '3091',
  '2185',
  '4166',
  '12173',
  '4666',
  '5667'],
 'Education': ['Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Not Graduate',
  'Not Graduate',
  'Not Graduate',
  'Not Graduate',
  'Graduate',
  'Not Graduate',
  'Not Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Graduate',
  'Graduate'],
 'Gender': ['Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'],
 'LoanAmount': ['110',
  '126',
  '208',
  '100',
  '78',
  '152',
  '59',
  '147',
  '280',
  '123',
  '90',
  '162',
  '40',
  '166',
  '124',
  '131'],
 'Loan_ID': ['LP001015',
  'LP001022',
  'LP001031',
  'LP001035',
  'LP001051',
  'LP001054',
  'LP001055',
  'LP001056',
  'LP001059',
  'LP001067',
  'LP001078',
  'LP001082',
  'LP001083',
  'LP001094',
  'LP001096',
  'LP001099'],
 'Married': ['Yes',
  'Yes',
  'Yes',
  'Yes',
  'No',
  'Yes',
  'No',
  'Yes',
  'Yes',
  'No',
  'No',
  'Yes',
  'No',
  'Yes',
  'No',
  'No'],
 'Property_Area': ['Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Semiurban',
  'Rural',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Semiurban',
  'Urban']}

##### 2) Replace the *Graduate* and *Not Graduate* in the Education column by 1 and 0 respectively

we can convert by accessing the list associated with key **Education** and by using an **if else** construct we append them to a temporary array and assign it to the key **Education**.

In [8]:
## Your code goes here.
graduate_matrix = df['Education']
empty_matrix =[]

for i in range(len(graduate_matrix)):
  if graduate_matrix[i] in 'Graduate':
    empty_matrix.append(1)
  else:
    empty_matrix.append(0)
empty_matrix

df['Education'] = empty_matrix

df

{'ApplicantIncome': ['5720',
  '3076',
  '5000',
  '2340',
  '3276',
  '2165',
  '2226',
  '3881',
  '13633',
  '2400',
  '3091',
  '2185',
  '4166',
  '12173',
  '4666',
  '5667'],
 'Education': [1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1],
 'Gender': ['Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'],
 'LoanAmount': ['110',
  '126',
  '208',
  '100',
  '78',
  '152',
  '59',
  '147',
  '280',
  '123',
  '90',
  '162',
  '40',
  '166',
  '124',
  '131'],
 'Loan_ID': ['LP001015',
  'LP001022',
  'LP001031',
  'LP001035',
  'LP001051',
  'LP001054',
  'LP001055',
  'LP001056',
  'LP001059',
  'LP001067',
  'LP001078',
  'LP001082',
  'LP001083',
  'LP001094',
  'LP001096',
  'LP001099'],
 'Married': ['Yes',
  'Yes',
  'Yes',
  'Yes',
  'No',
  'Yes',
  'No',
  'Yes',
  'Yes',
  'No',
  'No',
  'Yes',
  'No',
  'Yes',
  'No',
  'No'],
 'Property_Area': ['Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Urban',
  'Semiurban',
  'Rural',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Urban',
  'Semiurban',
  'Semiurban',
  'Urban']}

##### 3) Find the minimum and maximum value of *Loan Amount*. Also calculate the mean *Loan Amount*

Since the Loan Amount is a string array we need to convert it to an integer array and to find average we compute sum (loan_sum) and divide it by length to find average. Maximum and Minimum amount can be found out by using the predefined function **max() & min()**

In [15]:
## Your code goes here.
loan_array = []
loan_sum=0

for i in df['LoanAmount']:
  loan_sum +=int(i)
  loan_array.append(int(i))
  


print("Maximum value of Loan Amount = " +str(max(loan_array)))
print("Minimum value of Loan Amount = " +str(min(loan_array)))

print("Average value of Loan Amount = " +str(loan_sum/len(loan_array)))

Maximum value of Loan Amount = 280
Minimum value of Loan Amount = 40
Average value of Loan Amount = 131